<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=APPTITLE%>></title>
</head>
<body>
    <h1><%=APPTITLE%> is running on port: <%=PORT%></h1>
</body>
</html>